<h1 style="padding-top:20px;font-size: 18px;color: #0C5DAB;margin-left: 0px;"> Enquiries </h1>
            <div id="ccredit-account-details">
              <h1 style="color: #0C5DAB;font-size: 18px;">Credit Enquiries</h1>
              <br>
              #set($enqrhists = $responseInfo.ConsumerResponse.ENQRHIST)
              #set($index = 0)
			  #foreach($enqrhist in $enqrhists)
			  <table class="tabular_data_wrap">
			 
                <tbody>
					<tr class="list_header" style="color: #0C5DAB !important;background-color: #EFEFEF !important;">
                    <td style="12%">Date/Time</td>
                    <td style="width:10%">Experian Reference</td>
                    <td style="width:11%">Industry</td>
                    <td style="width:11%">Credit Provider</td>
                    <td style="width:11%">Account Type</td>
                    <td style="width:11%" class="txtright">Amount Considered</td>
                    <td style="width:11%">Account Responsibility</td>
                    <td style="9%">Terms</td>
                    <td style="width:14%">Bank Account</td>
                    
                  </tr>
                  <tr class="list listh" id="R0" style="background-color: white !important;">
                    ##<td style="width:11%">#set($date="#formatdate($enqrhist.dateTime)")$date</td>
                    <td style="width:11%">$enqrhist.EnquiryDate $enqrhist.EnquiryTime</td>
                    <td style="width:08%">#set($value="#emptyCheckData($enqrhist.EnquiryRefNum)")$value</td>
                    <td style="width:10%">$!industryType.indType($enqrhist.BureauMemberIndustryCd)</td>
                    <td style="width:10%">#set($value="#emptyCheckData($enqrhist.BureauMemberName)")$value</td>
                    <td style="width:11%">$!accType.accountType($enqrhist.EnquiryAccountType)</td>
                    <td style="width:11%;text-align: right;">#set($value="#emptyCheckData($enqrhist.EnquiryAmount)")$value</td>
                    <td style="width:11%">$!accResp.acctResp($enqrhist.EnquiryFinRespCd)</td>
                    <td style="width:9%">#set($value="#emptyCheckData($enqrhist.Frequency)")$value</td>
                    <td style="width:14%">#set($value="#emptyCheckData($enqrhist.EnquiryBankAccountNumber)")$value</td>
                   
                  </tr>
                   
                  <!-- Applicant Details starts -->
                <tr  id=tr$index  class="subList">
                #set($index = $index + 1)
                    <td colspan="10"><div id="applicant-details" class="applicant10/04/2017 07:53R0"> <br>
                        <div style="height:35px;"></div>
                        <div class="applicant-details" style="width:100%;">
                          <table id="borrower" style="width:100%;">
                            <tbody>
                              <tr>
                                <th style="text-align:left; padding-left:2px;padding-top :5px;background-color: #EFEFEF !important;color:#0c5dab;" colspan="9">Applicant Details</th>
                              </tr>
                              <tr class="list_header" style="color: #0C5DAB !important;background-color: #EFEFEF !important;">
                                <td style="width:16%;color: #0C5DAB !important;background-color: #EFEFEF !important;">Personal Information</td>
                                <td style="width:14%;color: #0C5DAB !important;background-color: #EFEFEF !important;">Addresses</td>
                                <td style="width:14%;color: #0C5DAB !important;background-color: #EFEFEF !important;">Contact Info </td>
                                <td style="width:16%;color: #0C5DAB !important;background-color: #EFEFEF !important;">Occupation </td>
                                <td style="width:10%;color: #0C5DAB !important;background-color: #EFEFEF !important;">ID Card Type </td>
                                <td style="width:10%;color: #0C5DAB !important;background-color: #EFEFEF !important;">ID Card Num </td>
                                <td style="width:10%;color: #0C5DAB !important;background-color: #EFEFEF !important;">Issue Date </td>
                                <td style="width:10%;color: #0C5DAB !important;background-color: #EFEFEF !important;">Expiry Date </td>
                              </tr>
                              <tr class="list listpds" style="background-color: #EFEFEF !important;">
								<td style="padding-left: 5px; padding-top:0px;background-color: #EFEFEF !important;">
								#set($prsnsrchs = $enqrhist.PRSNSRCH)
								#foreach($prsnsrch in $prsnsrchs)
								<table>
									<tbody>
									  <tr>
										<td style="padding-top:0px;background-color: #EFEFEF !important;">
										<table>
											<tbody>
												#set($value="#emptyCheckData($prsnsrch.firstGivenName)")
												#set($name="#trimVar($value)")
												#set($name=$StringUtils.deleteWhitespace($name))
												#if($name != "")	
												<tr>
													<td style="padding:0px;background-color: #EFEFEF !important;">$name</td>
												</tr>
												#end
												#set($value="#emptyCheckData($prsnsrch.middleName)")
												#set($name="#trimVar($value)")
												#set($name=$StringUtils.deleteWhitespace($name))
												#if($name != "")
												<tr>
													<td style="padding:0px;background-color: #EFEFEF !important;">$name</td>
												</tr>
												#end
												
												#set($value="#emptyCheckData($prsnsrch.otherMiddleNames)")
												#set($name="#trimVar($value)")
												#set($name=$StringUtils.deleteWhitespace($name))
												#if($name != "")
												<tr>
													<td style="padding:0px;background-color: #EFEFEF !important;">$name</td>
												</tr>
												#end
												#set($value="#emptyCheckData($prsnsrch.indiaMiddleName3)")
												#set($name="#trimVar($value)")
												#set($name=$StringUtils.deleteWhitespace($name))
												#if($name != "")
												<tr>
													<td style="padding:0px;background-color: #EFEFEF !important;">$name</td>
												</tr>
												#end
												#set($value="#emptyCheckData($prsnsrch.familyName)")
												#set($name="#trimVar($value)")
												#set($name=$StringUtils.deleteWhitespace($name))
												#if($name != "")
												<tr>
													<td style="padding:0px;background-color: #EFEFEF !important;">$name</td>
												</tr>
												#end
											</tbody>
										</table>
										</td>
									  </tr>
									  <tr>
										#set($value="#emptyCheckData($prsnsrch.Gender)")
				                          #set($value=$StringUtils.deleteWhitespace($value))
				                          #if($value == "1")
				                            <td style="padding:0px;background-color: #EFEFEF !important;">Male</td>
				                           #elseif($value == "2")
				                            <td style="padding:0px;background-color: #EFEFEF !important;">Female</td>
				                           #end
									  </tr>
									  <tr>
										<td style="padding:0px;background-color: #EFEFEF !important;">#set($value="#emptyCheckData($prsnsrch.DateOfBirth)")$value</td>
									  </tr>
									  <tr> </tr>
									</tbody>
								  </table>
								  #end
								</td>
								<td style="padding-top:0px;background-color: #EFEFEF !important;">
							   
									#set($persaddrs = $enqrhist.PERSADDR)
									#foreach($persaddr in $persaddrs)
									<table>
										<tbody>
										#set($value="#emptyCheckData($persaddr.AddressLine1)")
										#set($name="#trimVar($value)")
										#set($name=$StringUtils.deleteWhitespace($name))
										#if($name != "")
				                        	<tr>
				                            	<td style="padding:0px;background-color: #EFEFEF !important;">$name</td>
											</tr>
										#end
										#set($value="#emptyCheckData($persaddr.AddressLine2)")
										#set($name="#trimVar($value)")
										#set($name=$StringUtils.deleteWhitespace($name))
										#if($name != "")
										<tr>
				                            <td style="padding:0px;background-color: #EFEFEF !important;">$name</td>
										</tr>
										#end
										#set($value="#emptyCheckData($persaddr.AddressLine3)")
										#set($name="#trimVar($value)")
										#set($name=$StringUtils.deleteWhitespace($name))
										#if($name != "")
										<tr>
				                            <td style="padding:0px;background-color: #EFEFEF !important;">$name</td>
										</tr>
										#end
										#set($value="#emptyCheckData($persaddr.PostalCode)")
										#set($name="#trimVar($value)")
										#set($name=$StringUtils.deleteWhitespace($name))
										#if($name != " ")
										<tr>
				                            <td style="padding:0px;background-color: #EFEFEF !important;">$name</td>
										</tr>
										#end
										#set($value="#emptyCheckData($persaddr.LocalityName)")
										#set($name="#trimVar($value)")
										#set($name=$StringUtils.deleteWhitespace($name))
										#if($name != "")
										<tr>
				                            <td style="padding:0px;background-color: #EFEFEF !important;">$name</td>
										</tr>
										#end
										#set($value="#emptyCheckData($persaddr.RegionCode)")
										#set($name="#trimVar($value)")
										#set($name=$StringUtils.deleteWhitespace($name))
										#if($name != "")
											<tr>
					                            <td style="padding:0px;background-color: #EFEFEF !important;">$name</td>
											</tr>
										#end
										</tbody>
									  </table>
									  #end
								</td>
								<td style="padding-top:0px;background-color: #EFEFEF !important;">
									#set($persphones = $enqrhist.PERSPHONE)
									#foreach($persphone in $persphones)
									#set($value="#emptyCheckData($persphone.PhoneNumber)")
									#set($phoneType="#emptyCheckData($persphone.phoneType)")
									#set($phoneType=$StringUtils.deleteWhitespace($phoneType))
									<table>
										<tbody>
										 
											#if($phoneType == "1")
					                          <tr>
					                            <td style="padding:0px;background-color: #EFEFEF !important;">$value(H)</td>
					                          </tr>
					                        #elseif($phoneType == "6")
											  <tr>
					                            <td style="padding:0px;background-color: #EFEFEF !important;">$value(M)</td>
					                          </tr>
					                        #elseif($phoneType == "3")
											  <tr>
					                            <td style="padding:0px;background-color: #EFEFEF !important;">$value(O)</td>
					                          </tr>
					                        #elseif($phoneType == "7")
											  <tr>
					                            <td style="padding:0px;background-color: #EFEFEF !important;">$value(OT)</td>
					                          </tr>
					                          #elseif($phoneType == "" && $value != "")
											  <tr>
					                            <td style="padding:0px;background-color: #EFEFEF !important;">$value</td>
					                          </tr>
				                       	   #end
										</tbody>
									  </table>
									  #end
								  </td>
                 				  <td style="padding-top:0px;background-color: #EFEFEF !important;">
                 				  #set($employer = $enqrhist.Employer)
                 				  <table>
			                        <tbody>     
			                          <tr> 
			                          #set($value="#emptyCheckData($employer.OccYearsEmployed)")
			                          #set($value=$StringUtils.deleteWhitespace($value))
			                          	#if($value != "" && $value != "0")
			                          		<td style="padding:0px;background-color: #EFEFEF !important;">Years Employed &nbsp;$value</td>
			                          	#end
			                          	</tr>
			                          <tr>
			                          #set($value="#emptyCheckData($employer.OccMonthsEmployed)")
			                          #set($value=$StringUtils.deleteWhitespace($value))
			                          #if($value != "" && $value != "0")
			                          <td style="padding:0px;background-color: #EFEFEF !important;">Months Employed &nbsp;$value</td> 
			                          #end
			                          </tr>
			                          <tr>
			                          #set($value="#emptyCheckData($employer.NetMontlyIncome)")
			                          #set($value=$StringUtils.deleteWhitespace($value))
			                           #if($value != "" && $value != "0")
			                          <td style="padding:0px;background-color: #EFEFEF !important;">Net Monthly Income &nbsp;$value</td>
			                          #end
			                           </tr>
			                        </tbody>
			                      </table>
			                      </td>
								 
								  <td style="padding-top:0px;background-color: #EFEFEF !important;">    
								   #set($personidInqs = $enqrhist.PERSONIDINQ)
								  #foreach($personidInq in $personidInqs)                 
										#set($idType = $personidInq.IdNumberType)
										#set($idType=$StringUtils.deleteWhitespace($idType))
				                   		 <table id="card-type">
				                        	<tbody>
				                        	 #if($idType == "10")
						                          <tr height="26px">
						                            <td style="padding:0px;background-color: #EFEFEF !important;">PAN</td>
						                          </tr>
									         #elseif($idType == "7")
						                          <tr height="26px">
						                            <td style="padding:0px;background-color: #EFEFEF !important;">VOTER ID</td>
						                          </tr>
											 #elseif($idType == "1")	
						                          <tr height="26px">
						                            <td style="padding:0px;background-color: #EFEFEF !important;">D/L</td>
						                          </tr>
											 #elseif($idType == "11")	
						                          <tr height="26px">
						                            <td style="padding:0px;background-color: #EFEFEF !important;">RATION CARD</td>
						                          </tr>
											 #elseif($idType == "4")	
						                          <tr height="26px">
						                            <td style="padding:0px;background-color: #EFEFEF !important;">Passport Number</td>
						                          </tr>
											 #elseif($idType == "12")	
						                          <tr height="26px">
						                            <td style="padding:0px;background-color: #EFEFEF !important;">AADHAR</td>
						                          </tr>
						                     #elseif($idType == "19")	
						                          <tr height="26px">
						                            <td style="padding:0px;background-color: #EFEFEF !important;">Account Number</td>
						                          </tr>
											   #end
										   </tbody>
		                      			</table>
									 #end
                     
								  </td>
								  
									<td style="padding-top:0px;background-color: #EFEFEF !important;">
									#set($personidInqs = $enqrhist.PERSONIDINQ)
								    #foreach($personidInq in $personidInqs)
								    
										#set($idType = "#emptyCheckData($personidInq.IdNumberType)")
										#set($idNum = "#emptyCheckData($personidInq.IdNumber)")
										 #set($idType=$StringUtils.deleteWhitespace($idType))
											<table id="card-num">
											<tbody>
											
				                        	 #if($idType == "10")
				                        	
						                          <tr height="26px">
						                            <td style="padding:0px;background-color: #EFEFEF !important;">$idNum</td>
						                          </tr>
											 #elseif($idType == "7")	
						                          <tr height="26px">
						                            <td style="padding:0px;background-color: #EFEFEF !important;">$idNum</td>
						                          </tr>
											 #elseif($idType == "1")	
						                          <tr height="26px">
						                            <td style="padding:0px;background-color: #EFEFEF !important;">$idNum</td>
						                          </tr>
											 #elseif($idType == "11")	
						                          <tr height="26px">
						                            <td style="padding:0px;background-color: #EFEFEF !important;">$idNum</td>
						                          </tr>
											 #elseif($idType == "4")	
						                          <tr height="26px">
						                            <td style="padding:0px;background-color: #EFEFEF !important;">$idNum</td>
						                          </tr>
											 #elseif($idType == "12")	
						                          <tr height="26px">
						                            <td style="padding:0px;background-color: #EFEFEF !important;">$idNum</td>
						                          </tr>
						                     #elseif($idType == "19")	
						                          <tr height="26px">
						                            <td style="padding:0px;background-color: #EFEFEF !important;">$idNum</td>
						                          </tr>
											 #end
										</tbody>
									  </table>
									  #end
									</td>
									
									<td style="padding-top:0px;background-color: #EFEFEF !important;">
									#set($personidInqs = $enqrhist.PERSONIDINQ)
								    #foreach($personidInq in $personidInqs)
										<table id="card-num">
										<tbody>
										 #set($idType = "#emptyCheckData($personidInq.IdNumberType)")
										  #set($idType=$StringUtils.deleteWhitespace($idType))
										 #set($issueDt="#emptyCheckData($personidInq.IdIssueDate)")
												#if($idType == "10")
							                          <tr height="26px">
							                            <td style="padding:0px;background-color: #EFEFEF !important;">$issueDt</td>
							                          </tr>
												#elseif($idType == "7")	
							                          <tr height="26px">
							                            <td style="padding:0px;background-color: #EFEFEF !important;">$issueDt</td>
							                          </tr>
												#elseif($idType == "1")	
							                          <tr height="26px">
							                            <td style="padding:0px;background-color: #EFEFEF !important;">$issueDt</td>
							                          </tr>
												#elseif($idType == "11")	
							                          <tr height="26px">
							                            <td style="padding:0px;background-color: #EFEFEF !important;">$issueDt</td>
							                          </tr>
												#elseif($idType == "4")	
							                          <tr height="26px">
							                            <td style="padding:0px;background-color: #EFEFEF !important;">$issueDt</td>
							                          </tr>
												#elseif($idType == "12")	
							                          <tr height="26px">
							                            <td style="padding:0px;background-color: #EFEFEF !important;">$issueDt</td>
							                          </tr>
							                    #elseif($idType == "19")	
							                          <tr height="26px">
							                            <td style="padding:0px;background-color: #EFEFEF !important;">$issueDt</td>
							                          </tr>
											  	#end
									
			                       		 	</tbody>
			                     		 </table>
			                     		 #end
									</td>
									<td style="padding-top:0px;background-color: #EFEFEF !important;">
									#set($personidInqs = $enqrhist.PERSONIDINQ)
								    #foreach($personidInq in $personidInqs)
										<table id="card-num">
										<tbody>
										#set($idType = "#emptyCheckData($personidInq.IdNumberType)")
										 #set($idType=$StringUtils.deleteWhitespace($idType))
										#set($expDt="#emptyCheckData($personidInq.IdExpirationDate)")
										#if($idType == "10")
					                          <tr height="26px">
					                            <td style="padding:0px;background-color: #EFEFEF !important;">$expDt</td>
					                          </tr>
										#elseif($idType == "7")	
					                          <tr height="26px">
					                            <td style="padding:0px;background-color: #EFEFEF !important;">$expDt</td>
					                          </tr>
										#elseif($idType == "1")	
					                          <tr height="26px">
					                            <td style="padding:0px;background-color: #EFEFEF !important;">$expDt</td>
					                          </tr>
										#elseif($idType == "11")	
					                          <tr height="26px">
					                            <td style="padding:0px;background-color: #EFEFEF !important;">$expDt</td>
					                          </tr>
										#elseif($idType == "4")	
					                          <tr height="26px">
					                            <td style="padding:0px;background-color: #EFEFEF !important;">$expDt</td>
					                          </tr>
										#elseif($idType == "12")	
					                          <tr height="26px">
					                            <td style="padding:0px;background-color: #EFEFEF !important;">$expDt</td>
					                          </tr>
					                    #elseif($idType == "19")	
					                          <tr height="26px">
					                            <td style="padding:0px;background-color: #EFEFEF !important;">$expDt</td>
					                          </tr>
									    #end
				                        </tbody>
				                      </table>
			                      #end
									</td>
								</tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
					</td>
                  </tr>
                
                  <tr id="disputesInquiryR38" style="display:block;">
                    <td colspan="10" style="padding:0px !important;"><div> </div></td>
                  </tr>
                  
                  
                  <!-- Applicant details end -->
				</tbody>
			</table>
			  #end		  
			</div>