 <!-- Payment Details Start -->
                  
                  <tr id=pr$count class="sublist" style="background-color: #EFEFEF !important;">
                  	#set($count = $count + 1)
                    <td colspan="9"><div id="payment-grid" class="pymnthist">
                        <div id="payment-details" class="payment-details-class" style="border:0px">
                          <table id="payment-details-table" class="tabular_data_wrap  nomargin status" cellspacing="1" border="0">
                            <tbody>
                              <tr style="height: 20px;" class="list_header">
                                <td colspan="37" style="color: #0C5DAB !important;padding-left:3px; background: #E8E8DB !important;">Payment History </td>
                              </tr>
							  #set($map = $conscred.paymentHistMap)
							  #set($i=1)
                              <tr class="list_header">
							  #foreach($entry in $map.entrySet())
							  #if($i == 1)
                                <td style="color: #0C5DAB !important;text-align: left;padding-right:20px;padding-left:3px;background-color: #EFEFEF !important;">Year</td>
								#set($i=0)
							  #end
                                <td style="color: #0C5DAB !important;text-align: center;background-color: #EFEFEF !important;" colspan=$entry.Value.size()> $entry.Key </td>
                               #end
							   #set($i=1)
                              </tr>
							  
                              <tr class="list_header">
							  #foreach($entry in $map.entrySet())
							  #if($i == 1)
                                <td style="color: #0C5DAB !important;padding-left:3px;background-color: #EFEFEF !important;">Month</td>
								#set($i=0)
							  #end
							  
								#foreach($bpGrid in $entry.Value)
                                <td style="color: #0C5DAB !important;text-align:center; padding-left:3px;background-color: #EFEFEF !important;">$bpGrid.Monthvalue </td>
                               #end
							   #end
							   #set($i=1)
                              </tr>
                              <tr class="list_header">
							   #foreach($entry in $map.entrySet())
							  #if($i == 1)
                                <td style="color: #0C5DAB !important;padding-left:3px;background-color: #EFEFEF !important;">DPD</td>
								#set($i=0)
							  #end
							  #foreach($bpGrid in $entry.Value)
                                <td style="color: #0C5DAB !important;padding-left:3px;text-align:center;background-color: #EFEFEF !important;"><span style="color: #0C5DAB !important;">$bpGrid.DaysPastDue</span> <span class="daysPastDueCtClass"></span></td>
                               #end
							   #end
                              </tr>
                              
                            </tbody>
							
                          </table>
                        
                        </div>
                        <div id="negative-indicator"> 
                          <!-- Start if --> 
                          
                          <!-- end If --> 
                        </div>
                      </div></td>
                  </tr>
                  <tr>
                    <td style="color: #CC6600;;" colspan="9"></td>
                  </tr>
                  <!-- Payment Details End -->