<div class="row">
	<h1 class="page-header">Enter Enquiry Details</h1>
	<!-- table-responsive -->
	<div class="create-enquiry">
		<div class="row top-bar">
			<div *ngIf="issOnlyBIR">
				<form class="main-form" [formGroup]="birForm" (ngSubmit)="getCompanyList()">
					<!-- <form class="main-form" (ngSubmit)="getCompanyList()">-->
					<div class="form-group col-md-3">
						<label for="">Select type of Company</label>
						<div class="radio-group">
							<input type="radio" id="option-one" name="selector" checked>
							<label for="option-one">Private Limited</label>
							<input type="radio" id="option-two" name="selector">
							<label for="option-two">Non Private Limited</label>
						</div>
					</div>
					<div class="form-group col-md-5">
						<label for="exampleInputName2">Company Name *</label>
						<div class="input-group" [ngClass]="{'has-error':(!birForm.controls['compName'].valid && birForm.controls['compName'].touched)||(!birForm.controls['compName'].valid && submitted)}">
							<input type="text" class="form-control" placeholder="Company Name" formControlName="compName" [formControl]="birForm.controls['compName']"
							 [(ngModel)]="commonArray.bir.companyName">
							<span class="input-group-btn">
							        <button type="submit" class="btn btn-default" >Validate <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
							</span>
						</div>
						<small *ngIf="(birForm.controls['compName'].hasError('required') && birForm.controls['compName'].touched)||(birForm.controls['compName'].hasError('required') && submitted)"
						 class="alert" style="padding: 2px; border-color: #dca7a7; background-color: white;color: #a94442;margin: 0;margin-top: 3px;display: block;">You must include a Company name.</small>
						<small *ngIf="birForm.controls['compName'].hasError('pattern') && birForm.controls['compName'].touched" class="alert" style="padding: 2px; border-color: #dca7a7; background-color: white;color: #a94442;margin: 0;margin-top: 3px;display: block;">No special character other than & is allowed.</small>

					</div>
					<div class="form-group  col-md-4" [ngClass]="{'has-error':(!birForm.controls['cmplist'].valid && birForm.controls['cmplist'].touched)||(!birForm.controls['cmplist'].valid && submitted)}">
					<label for="exampleInputEmail2">Company List</label> <select class="form-control" [formControl]="birForm.controls['cmplist']"
						 name="cmpList" [(ngModel)]="commonArray.bir.cmpList" (ngModelChange)="onChange($event)">										  <option>--SELECT--</option>											<option *ngFor="let comp of compList">{{comp.Name}}</option> 	 
								</select>
						<div *ngIf="(birForm.controls['cmplist'].hasError('required') && birForm.controls['cmplist'].touched)||(birForm.controls['cmplist'].hasError('required') && submitted)"
						 class="alert " style="padding: 2px;border-color: #dca7a7;background-color: white;color: #a94442;margin: 0;margin-top: 3px;display: block;">You must select Product.</div>
					</div>
				</form>
			</div>
			<div *ngIf="isCombo || isCir">
				<form class="user-form col-md-12" id="comapnyDetails">
					<div class="row">
						<div class="form-group col-md-6 ">
							<label for="exampleInputName2">Company Name</label>
							<input type="text" class="form-control" id="exampleInputName2" value = {{commonArray.cir.companyName}} placeholder="Company Name" name="bankAccNo" [(ngModel)]="commonArray.cir.companyName">
						</div>
						<div class="form-group col-md-3" [ngClass]="{'has-error':(cirForm.controls['product'].hasError('required') && cirForm.controls['product'].touched)||(cirForm.controls['product'].hasError('required') && submitted )}">
							<label for="exampleInputName2">Product Field *</label>
							<select class="form-control" placeholder="Product Field" [formControl]="cirForm.controls['product']" name="productField"
							 [(ngModel)]="commonArray.cir.productField">
											<option>1</option>
										  <option>2</option>
										  <option>3</option>
										  <option>4</option>
										  <option>5</option>
										</select>
							<div *ngIf="(cirForm.controls['product'].hasError('required') && cirForm.controls['product'].touched)||(cirForm.controls['product'].hasError('required') && submitted)"
							 class="alert " style="padding: 2px;border-color: #dca7a7;background-color: white;color: #a94442;margin: 0;margin-top: 3px;display: block;">You must select Product.</div>
						</div>
						<div class="form-group col-md-3" [ngClass]="{'has-error':(!cirForm.controls['purpose'].valid && cirForm.controls['purpose'].touched)||(!cirForm.controls['purpose'].valid && submitted)}">
							<label for="exampleInputName2">Purpose *</label>
							<select class="form-control" [formControl]="cirForm.controls['purpose']" name="purpose" [(ngModel)]="commonArray.cir.purpose">
											<option>1</option>
										  <option>2</option>
										  <option>3</option>
										  <option>4</option>
										  <option>5</option>
										</select>
							<div *ngIf="(cirForm.controls['purpose'].hasError('required') && cirForm.controls['purpose'].touched)||(cirForm.controls['purpose'].hasError('required') && submitted)"
							 class="alert " style="padding: 2px;border-color: #dca7a7;background-color: white;color: #a94442;margin: 0;margin-top: 3px;display: block;">You must select Purpose.</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-3">
							<label for="exampleInputName2">Amount</label>
							<select class="form-control" name="amt" [(ngModel)]="commonArray.cir.amt">
										  <option>--SELECT--</option>
											<option>1</option>
										  <option>2</option>
										  <option>3</option>
										  <option>4</option>
										  <option>5</option>
										</select>
						</div>
						<div class="form-group col-md-3" [ngClass]="{'has-error':(!cirForm.controls['accType1'].valid && cirForm.controls['accType1'].touched)||(!cirForm.controls['accType1'].valid && submitted)}">
							<label for="exampleInputName2">Account type</label>
							<select class="form-control" [formControl]="cirForm.controls['accType1']" name="accType1" [(ngModel)]="commonArray.cir.accType1">
										 
											<option>1</option>
										  <option>2</option>
										  <option>3</option>
										  <option>4</option>
										  <option>5</option>
										</select>
							<div *ngIf="(cirForm.controls['accType1'].hasError('required') && cirForm.controls['accType1'].touched)||(cirForm.controls['accType1'].hasError('required') && submitted)"
							 class="alert " style="padding: 2px;border-color: #dca7a7;background-color: white;color: #a94442;margin: 0;margin-top: 3px;display: block;">You must select Account type.</div>
						</div>
						<div class="form-group col-md-3">
							<label for="exampleInputName2">Client Ref. No.</label>
							<input type="text" class="form-control" id="exampleInputName2" placeholder="Client Ref. No." name="clientRefNo" [(ngModel)]="commonArray.cir.clientRefNo">
						</div>
						<div class="form-group col-md-3" [ngClass]="{'has-error':(!cirForm.controls['accType'].valid && cirForm.controls['accType'].touched)||(!cirForm.controls['accType'].valid && submitted)}">
							<label for="exampleInputName2">Account type</label>
							<select class="form-control" [formControl]="cirForm.controls['accType']" name="accType2" [(ngModel)]="commonArray.cir.accType2">
									
											<option>1</option>
										  <option>2</option>
										  <option>3</option>
										  <option>4</option>
										  <option>5</option>
										</select>
							<div *ngIf="(cirForm.controls['accType'].hasError('required') && cirForm.controls['accType'].touched)||(cirForm.controls['accType'].hasError('required') && submitted)"
							 class="alert " style="padding: 2px;border-color: #dca7a7;background-color: white;color: #a94442;margin: 0;margin-top: 3px;display: block;">You must select Account type.</div>
						</div>
					</div>

					<div class="row bg-form">
						<div class="form-group col-md-6" [ngClass]="{'has-error':(!cirForm.controls['cmppan'].valid && cirForm.controls['cmppan'].touched)||(!cirForm.controls['cmppan'].valid && submitted)}">
							<label for="exampleInputName2">Company PAN *</label>
							<input type="text" class="form-control" id="exampleInputName2" placeholder="Company PAN" name="cmpPan" [(ngModel)]="commonArray.cir.cmpPan"
							 [formControl]="cirForm.controls['cmppan']">
							<div *ngIf="(cirForm.controls['cmppan'].hasError('required') && cirForm.controls['cmppan'].touched)||(cirForm.controls['cmppan'].hasError('required') && submitted)"
							 class="alert " style="padding: 2px;border-color: #dca7a7;background-color: white;color: #a94442;margin: 0;margin-top: 3px;display: block;">You must include PAN.</div>
							<div *ngIf="cirForm.controls['cmppan'].hasError('pattern') && cirForm.controls['cmppan'].touched" class="alert " style="padding: 2px;border-color: #dca7a7;background-color: white;color: #a94442;margin: 0;margin-top: 3px;display: block;">Enter valid PAN.</div>
						</div>
						<div class="form-group col-md-6">
							<label for="exampleInputName2">Address Type</label>
								<select class="form-control"  name="addrType" [(ngModel)]="commonArray.cir">
											<option>--Select--</option>
										  <option *ngFor="let addressType of addressTypeList" [ngValue]="addressType">{{addressType.addressTypeDescription}}</option>
										</select>
						</div>

						<div class="form-group col-md-6" [ngClass]="{'has-error':(!cirForm.controls['address'].valid && cirForm.controls['address'].touched)||(!cirForm.controls['address'].valid && submitted)}">
							<label for="exampleInputName2">Address Line 1 </label>
							<input type="text" class="form-control" id="exampleInputName2" placeholder="Address Line 1" name="addrLine1" [(ngModel)]="commonArray.cir.addrLine1"
							 [formControl]="cirForm.controls['address']">
							<div *ngIf="(cirForm.controls['address'].hasError('required') && cirForm.controls['address'].touched)||(cirForm.controls['address'].hasError('required') && submitted)"
							 class="alert " style="padding: 2px;border-color: #dca7a7;background-color: white;color: #a94442;margin: 0;margin-top: 3px;display: block;">You must include Address.</div>
						</div>
						<div class="form-group col-md-6">
							<label for="exampleInputName2">Address Line 2</label>
							<input type="text" class="form-control" id="exampleInputName2" placeholder="Address Line 2" name="addrLine2" [(ngModel)]="commonArray.cir.addrLine2">
						</div>

						<div class="form-group col-md-3" [ngClass]="{'has-error':(!cirForm.controls['city'].valid && cirForm.controls['city'].touched)||(!cirForm.controls['city'].valid && submitted)}">
							<label for="exampleInputName2">City</label>
							<input type="text" class="form-control" id="exampleInputName2" placeholder="City" [formControl]="cirForm.controls['city']"
							 name="city" [(ngModel)]="commonArray.cir.city">
							<div *ngIf="(cirForm.controls['city'].hasError('required') && cirForm.controls['city'].touched)||(cirForm.controls['city'].hasError('required') && submitted)"
							 class="alert " style="padding: 2px;border-color: #dca7a7;background-color: white;color: #a94442;margin: 0;margin-top: 3px;display: block;">You must include City.</div>
							<div *ngIf="cirForm.controls['city'].hasError('pattern') && cirForm.controls['city'].touched" class="alert " style="padding: 2px;border-color: #dca7a7;background-color: white;color: #a94442;margin: 0;margin-top: 3px;display: block;">Enter alphabets only.</div>
						</div>
						<div class="form-group col-md-3" [ngClass]="{'has-error':(!cirForm.controls['state'].valid && cirForm.controls['state'].touched)||(!cirForm.controls['state'].valid && submitted)}">
							<label for="exampleInputName2">State</label>
							<select class="form-control" [formControl]="cirForm.controls['state']" name="state" [(ngModel)]="commonArray.cir">
										  
										<option>--Select--</option>
										  <option *ngFor="let state of stateList" [ngValue]="state">{{state.stateCodeDescription}}</option>

										</select>
							<div *ngIf="(cirForm.controls['state'].hasError('required') && cirForm.controls['state'].touched)||(cirForm.controls['state'].hasError('required') && submitted)"
							 class="alert " style="padding: 2px;border-color: #dca7a7;background-color: white;color: #a94442;margin: 0;margin-top: 3px;display: block;">You must include State.</div>
						</div>
						<div class="form-group col-md-3" [ngClass]="{'has-error':(!cirForm.controls['pincode'].valid && cirForm.controls['pincode'].touched)||(!cirForm.controls['pincode'].valid && submitted)}">
							<label for="exampleInputName2">PIN Code </label>
							<input type="text" class="form-control" id="exampleInputName2" placeholder="PIN Code" name="pinCode" [(ngModel)]="commonArray.cir.pinCode"
							 [formControl]="cirForm.controls['pincode']">
							<div *ngIf="(cirForm.controls['pincode'].hasError('required') && cirForm.controls['pincode'].touched)||(cirForm.controls['pincode'].hasError('required') && submitted)"
							 class="alert " style="padding: 2px;border-color: #dca7a7;background-color: white;color: #a94442;margin: 0;margin-top: 3px;display: block;">You must include pincode.</div>
							<div *ngIf="cirForm.controls['pincode'].hasError('pattern') && cirForm.controls['pincode'].touched" class="alert " style="padding: 2px;border-color: #dca7a7;background-color: white;color: #a94442;margin: 0;margin-top: 3px;display: block;">Your Pincode must be a Number With 6 digits.</div>
						</div>
						<div class="form-group col-md-3">
							<label for="exampleInputName2">Telephone</label>
							<input type="text" class="form-control" id="exampleInputName2" placeholder="Telephone" name="telephoneNo" [(ngModel)]="commonArray.cir.telephoneNo">
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-3" [ngClass]="{'has-error':(!cirForm.controls['pan'].valid && cirForm.controls['pan'].touched)||(!cirForm.controls['pan'].valid && submitted)}">
							<label for="exampleInputName2">PAN</label>
							<input type="text" class="form-control" id="exampleInputName2" placeholder="PAN" [formControl]="cirForm.controls['pan']"
							 name="pan" [(ngModel)]="commonArray.cir.pan">
							<div *ngIf="(cirForm.controls['pan'].hasError('required') && cirForm.controls['pan'].touched)||(cirForm.controls['pan'].hasError('required') && submitted)"
							 class="alert " style="padding: 2px;border-color: #dca7a7;background-color: white;color: #a94442;margin: 0;margin-top: 3px;display: block;">You must include PAN.</div>
							<div *ngIf="cirForm.controls['pan'].hasError('pattern') && cirForm.controls['pan'].touched" class="alert " style="padding: 2px;border-color: #dca7a7;background-color: white;color: #a94442;margin: 0;margin-top: 3px;display: block;">Enter valid PAN.</div>
						</div>
						<div class="form-group col-md-3">
							<label for="exampleInputName2">CIN</label>
							<input type="text" class="form-control" id="exampleInputName2" placeholder="CIN" name="cin" [(ngModel)]="commonArray.cir.cin">
						</div>
						<div class="form-group col-md-3">
							<label for="exampleInputName2">TIN</label>
							<input type="text" class="form-control" id="exampleInputName2" placeholder="TIN" name="tin" [(ngModel)]="commonArray.cir.tin">
						</div>
						<div class="form-group col-md-3" [ngClass]="{'has-error':(!cirForm.controls['email'].valid && cirForm.controls['email'].touched)||(!cirForm.controls['email'].valid && submitted)}">
							<label for="exampleInputName2">Email ID</label>
							<input type="email" class="form-control" id="exampleInputName2" placeholder="Email ID" [formControl]="cirForm.controls['email']"
							 name="emailId" [(ngModel)]="commonArray.cir.emailId">
							<div *ngIf="(cirForm.controls['email'].hasError('required') && cirForm.controls['email'].touched)||(cirForm.controls['email'].hasError('required') && submitted)"
							 class="alert " style="padding: 2px;border-color: #dca7a7;background-color: white;color: #a94442;margin: 0;margin-top: 3px;display: block;">You must include email.</div>
							<div *ngIf="cirForm.controls['email'].hasError('pattern') && cirForm.controls['email'].touched" class="alert " style="padding: 2px;border-color: #dca7a7;background-color: white;color: #a94442;margin: 0;margin-top: 3px;display: block;">Enter Valid EmailId.</div>
						</div>
					</div>
				</form>
				<div *ngIf="isCombo">
					<consumerComponent [consumerData]='commonArray.consumer'></consumerComponent>
				</div>
			</div>
		</div>
	</div>

</div>

<div class="row">
	<div class="back-btn pull-left"><button (click)="back()" type="submit" class="btn btn-primary">Back</button></div>
	<div class="next-btn pull-right"><input (click)="validate()" type="submit" class="btn btn-primary form-control" name="Submit" value="Submit"></div>

</div>


<script>
	$(document).ready(function () {
		var date_input = $('input[name="date"]'); //our date input has the name "date" 
		date_input.datepicker({
			format: 'mm/dd/yyyy',
			todayHighlight: true,
			autoclose: true,
		})
	})

	function companySelectList(nameSelect) {
		if (nameSelect) {
			conpanyValue = document.getElementById("currectName").value;
			if (conpanyValue == nameSelect.value) {
				document.getElementById("comapnyDetails").style.display = "block";
				$(".blank-form").hide();
			}
			else {
				document.getElementById("comapnyDetails").style.display = "none";
				$(".blank-form").show();
			}
		}
		else {
			document.getElementById("comapnyDetails").style.display = "none";
			$(".blank-form").hide();
		}
	}
	function addMore() { $("form.user-form.abpDetails").show(); }
	function removeThis() { $("form.user-form.abpDetails").hide(); }

</script>