
<html>		

			#if($reportType == "EIR"  ||  $reportType == "CWOS" || $reportType == "CWS" || $reportType == "CIRWS" || $reportType == "CIRWOS")
				#set($responseInfoList = $eirDomain.comboDomain.responseInfoList)
				#set($reportDetails = $eirDomain.comboDomain.reportDetails)
				#set($comboSummaryDetails = $eirDomain.comboDomain.summaryDetails)
				
				#if($reportType == "EIR"  ||  $reportType == "CWOS" || $reportType == "CWS")
					#parse("/vmFiles/combo_Vmfiles/commercialPhaseIIReport.vm")
				#end
				
				#parse("/vmFiles/cir_VmFiles/MainCommercial.vm")
				
				#if($reportType == "EIR"  ||  $reportType == "CWOS" || $reportType == "CWS")
					#if($!responseInfoList.size() > 0)
						#foreach($responseInfo in $responseInfoList)
							#parse("/vmFiles/consumer_VmFiles/MainConsumer.vm")
						#end
					#end
				#end
			#end
			
</html>			